{{define "base"}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />

    {{template "head" .}}
    <title>Golang Starter</title>
</head>

<body class="bg-primary">

    {{block "content" .}}
    {{end}}
    {{template "toast" .}}
    {{block "js" .}}
    {{end}}
    {{template "scripts" .}}

</body>

</html>
{{end}}