{{template "basenav" .}}

{{define "content"}}
<div class="row d-flex justify-content-start mt-4">
    {{$listOfTemplate := index .Data "listOfTemplates"}}
    {{if not  $listOfTemplate}}
    <div class="col-12 mt-2">
        <div class="card-content-primary  border-0 border-radius-lg">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 mt-2">
                        <h3>No automation found</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{end}}
    {{range $template := $listOfTemplate}}
    <div class="col-4 my-2">
        <div class="border-radius-lg card-content-primary scale-hover-md">
            <div class="d-flex justify-content-between">
                <div class="d-flex py-4 px-3">
                    <span class="card-content-primary-body">
                        <p class="m-0 fw-bold">{{$template.project}}</p>
                        <p class="m-0 small">{{$template.technology}}</p>
                        <p class="m-0 small">{{$template.file_name}}</p>
                    </span>
                </div>
                <div class="py-4 px-3">
                    <button class="p-1 m-0 d-flex align-items-center btn" type="button" id="cononectedDeviceAction"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class='bx bx-dots-vertical-rounded fs-4'></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="cononectedDeviceAction">
                        <li><a class="dropdown-item" href="/admin/library/{{$template.project}}/{{$template.technology}}/download">Download</a></li>
                        <li><a class="dropdown-item" href="">View</a></li>
                        <li><a class="dropdown-item" href="">Edit</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{end}}
</div>
{{ end }}