{{template "base" .}}

{{define "content"}}
<div class="container vertical-center">
  <div class="card-login-primary py-3 px-5 border-radius-xl">
    <div class="row align-items-center py-5">
      
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Log in</h1>
        <hr>
        <p class="col-lg-10 fs-4">
          Create quick to deploy and easy to use solution that makes work with small OpenVPN environments a breeze.
        </p>
      </div><!-- login header -->

      <div class="col-lg-5 mx-auto">
        <form class="card-login-secondary p-4 p-md-5 border-radius-lg" action="" method="post">
          <input type="hidden" name="csrf_token" value="{{.CSRFToken}}"><!-- hidden csrf -->
          <div class="login-input-primary form-floating mb-3">
            <input type="username" class="form-control" id="usernameField" name="usernameField" placeholder="name@example.com">
            <label for="usernameField">Username</label>
          </div><!-- username field -->
          <div class="login-input-primary form-floating mb-3">
            <input type="password" class="form-control" id="passwordField" name="passwordField" placeholder="Password">
            <label for="passwordField">Password</label>
          </div><!-- password field -->
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me" id="rememberMe"> Remember me
            </label>
          </div><!-- remember me -->
          <div class="row justify-content-between">
            <div class="col-6">
              <button class="w-100 btn btn-lg text-white bg-primary-dark custom-btn" name="log-in" type="submit">Log in
              </button>
            </div><!-- login button -->
            <div class="col-6">
              <a class="w-100 btn btn-lg custom-btn-outline" href="/signup" type="button">Sign up
              </a>
            </div><!-- signup button -->
          </div>
          <hr class="my-4">
          <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
        </form><!-- login form -->
      </div><!-- login form card -->

    </div>
  </div>
</div>
{{end}}