{{define "sidebar"}}
<nav>
    <div class="sidebar d-flex flex-column p-3 border-radius-xl">
        <div class="sidebar-secondary-card">
            <label class="d-flex align-items-center py-4 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#profileCollapse"
                aria-expanded="false" aria-controls="profileCollapse">
                <img src="https://miro.medium.com/max/700/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg" alt="logo" width="40"
                    height="40" class="me-3 ml-3 rounded-circle" />
                <span>
                    {{with .CurrentUser}}
                    <p class="m-0 fw-bold">{{.Username}}</p>
                    <p class="m-0 small">{{.Role}}</p>
                    {{end}}
                </span>
            </label>
            <div class="collapse" id="profileCollapse">
                <div class="container">
                    <hr class="my-2 mx-3 p-0">
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item nav-item-secondary">
                            <a href="" class="nav-link nav-link-secondary d-flex">
                                <i class='bx bx-user nav-icon' aria-hidden="true"></i>
                                <span class="nav-text">Account</span>
                            </a>
                        </li>
                        <li class="nav-item nav-item-secondary">
                            <a href="/logout" class="nav-link nav-link-secondary d-flex">
                                <i class='bx bx-log-out nav-icon' aria-hidden="true"></i>
                                <span class="nav-text">Sign out</span>
                            </a>
                        </li>
                        <hr class="my-2 mx-3 p-0">
                        <li class="d-flex justify-content-around">
                            <input type="checkbox" class="btn-check" id="toggleDarkMode" autocomplete="off">
                            <label class="custom-toggle-button d-flex justify-content-center align-items-center"
                                for="toggleDarkMode">
                                <i class='bx bx-sun' aria-hidden="true"></i>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <ul class="nav flex-column mb-auto mt-4">
            <li
                class="nav-item nav-item-primary {{if eq .CurrentPage "/admin/dashboard"}}nav-item-active nav-item-primary-active{{end}}">
                <a href="/admin/dashboard" class="nav-link nav-link-primary d-flex">
                    <i class='bx bxs-dashboard nav-icon' aria-hidden="true"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li
                class="nav-item nav-item-primary {{if eq .CurrentPage "/admin/automation/opt"}}nav-item-active nav-item-primary-active{{end}}">
                <a href="/admin/automation/opt" class="nav-link nav-link-primary d-flex">
                    <i class='bx bxs-rocket nav-icon' aria-hidden="true" ></i>
                    <span class="nav-text">Automation</span>
                </a>
            </li>
            <li
                class="nav-item nav-item-primary {{if eq .CurrentPage "/admin/templates/all"}}nav-item-active nav-item-primary-active{{end}}">
                <a href="/admin/templates/all" class="nav-link nav-link-primary d-flex">
                    <i class='bx bxs-file-doc nav-icon'  aria-hidden="true"></i>
                    <span class="nav-text">Templates</span>
                </a>
            </li>
            <li
                class="nav-item nav-item-primary {{if eq .CurrentPage "/admin/library/all"}}nav-item-active nav-item-primary-active{{end}}">
                <a href="/admin/library/all" class="nav-link nav-link-primary d-flex">
                    <i class='bx bxs-shopping-bag-alt nav-icon' aria-hidden="true"></i>
                    <span class="nav-text">Library</span>
                </a>
            </li>
            <li
                class="nav-item nav-item-primary {{if eq .CurrentPage "/admin/users/all"}}nav-item-active nav-item-primary-active{{end}}">
                <a href="/admin/users/all" class="nav-link nav-link-primary d-flex">
                    <i class='bx bx-group nav-icon' aria-hidden="true"></i>
                    <span class="nav-text">Users</span>
                </a>
            </li>
        </ul>

    </div>
</nav>
{{end}}